h1, h2 { text-align: center;}

.big-font {
    font-size: 14pt;
}
.small-font {
    font-size: 11pt;
}

table.table caption { text-align:center;}

img.smallpic {
    max-width: 7.5cm;
    max-height: 7.5cm;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

div.clear-float {
    clear: both;
}

.page-header {
    border-bottom: 0px;
}

.nav-tabs {
    margin-bottom: 1.5em;
}

.container-left {
    float: left;
    width: 255px;
  }

.container-fluid {
  padding-top: 20px;
}

div{
    text-align: justify;
}

section{
    text-align: justify;
}



.flip-card {
  background-color: transparent;
  margin: auto;
  width: 400px;
  height: 600px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 25px;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: #474747;
  color: white;
  transform: rotateY(180deg);
}

ul.no-bullets {
 list-style-type: none; /* Remove bullets */
 padding: 0; /* Remove padding */
 margin: 0; /* Remove margins */
 font-size: 35px;
}

li{
    margin-top: 20px;
}

li:first-child {
    margin-top:0;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
