<footer class="footer" id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
						<p>This site is not affiliated with or endorsed by Microsoft Corporation.
							Age of Empires II: HD and Age of Empires II: Definitive Edition are
							trademarks or registered trademarks of Microsoft Corporation in the
							U.S. and other countries.</p>
				</div>
			</div>
			<div class="row" style="padding-top:20px;">
				<div class="col-lg-4 col-md-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'landing:index' %}">Home</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'landing:about' %}">About us</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'landing:resources' %}">Resources</a></li>
					</ul>
				</div>
<!--
				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
					</ul>
				</div> -->

				<div class="col-lg-4 col-md-6 footer-contact">
					<h4>Contact Us</h4>
					<p>
						<strong>Email:</strong> slothking95@protonmail.com<br>
					</p>

				</div>

				<div class="col-lg-4 col-md-6 footer-info">
					<h3>Disclaimer</h3>
					This is a passon project: learn more <a href="{% url "landing:about" %}">here!</a>
					<div class="social-links mt-3">
						<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
						<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
						<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
						<a href="#" class="linkedin"><i class="bx bxl-reddit"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</div>
</footer>
