<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="{% url 'landing:index' %}"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'leaderboards:index' %}">Leaderboards</a>
      </li>
    </ul>
  </div>
</nav> -->
{% load static %}

<header id="header" class="fixed-top header">
  <div class="container">

    <div class="logo float-left">


    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="{% url 'landing:index' %}">Home</a></li>
        <li><a href="{% url 'leaderboards:index' %}">Leaderboards</a></li>
        <li><a href="{% url 'landing:about' %}">About</a></li>
        <li><a href="{% url 'landing:resources' %}">Resources</a></li>
        <li><a href="team.html">Team</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="{% url 'landing:'}">Contact Us</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->


<button type="button" class="mobile-nav-toggle d-lg-none"><i class="bx bx-menu"></i></button>

<header id="header" class="fixed-top ">
  <div class="container">
    <div class="logo float-left">
    {% if nbar == 'home' %}
    <h1 class="text-light" style="font-variant: small-caps;"><a href="{% url 'landing:index' %}"><span>AoE2:Data Edition</span></a></h1>
    {% else %}
    <a href="{% url 'landing:index' %}"><img src="{% static 'images/favicon.png'%}" alt="" class="img-fluid"></a>
    {% endif %}
    </div>
    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li class="{% if nbar == 'home' %}active{% endif %}"><a href="{% url 'landing:index' %}">Home</a></li>
        <li class="{% if nbar == 'leaderboards' %}active{% endif %}"><a href="{% url 'leaderboards:index' %}">Leaderboards</a></li>
        <li class="{% if nbar == 'about' %}active{% endif %}"><a href="{% url 'landing:about' %}">About</a></li>
        <li class="{% if nbar == 'resources' %}active{% endif %}"><a href="{% url 'landing:resources' %}">Resources</a></li>
        <li><a href="team.html">Team</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
