{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">

  <div class="row d-flex" >
    <div class="col-md-2">

    </div>
    <div class="col-md-4" style="padding-left: 20px" >
      <h1 style="padding-bottom: 10px"><u>Definitive Edition</u></h1>
           <ul class="no-bullets" style="text-align: center">
             {% for index, text in titles_de.items %}
             <li class="special"><a class="special" href="{{ index }}">{{ text }}</a></li>
             {% endfor %}
           </ul>
      </div>
    <div class="col-md-4" style="padding-left: 20px">
      <h1 style="padding-bottom: 10px"><u>Voobly</u></h1>
           <ul class="no-bullets" style="text-align: center">
             {% for index, text in titles_hd.items %}
             <li class="special"><a class="special" href="{{ index }}">{{ text }}</a></li>
             {% endfor %}
           </ul>
    </div>
  </div>
</div>
{% endblock content %}
