{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 style="padding-top:25px;">About this site</h1>

<div class="row">
	<div class="col-md-1" style="margin-top: 25px">
	</div>
	<div class="col-md-7" style="margin-top: 25px">
<p>
	This project was made mainly to learn Django as I am a self taught "programmer"; as a result the code is probably a nightmare.
	If you are interested in having a look and improving it, <a href="https://gitlab.com/SlothKing/age2">here</a> you can find the GitLab repo.
</p>
			</div>
	<div class="col-md-1">

	</div>
		<div class="col-md--3">
			<h3>Redddit Magic</h3>
			{% autoescape off %}
				<script src='https://redditjs.com/subreddit.js' data-subreddit='aoe2', data-subreddit-mode='grid'></script>
			{% endautoescape %}
		</div>
</div>
{% endblock content %}
