{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to Age of Empires 2: Data Edition!</h2>
        <p class="animate__animated animate__fadeInUp">
          This is project to gather resources from the Age of Empires 2 community.
          Explore the website and have fun!
        </p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read more</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Leaderboards</h2>
        <p class="animate__animated animate__fadeInUp">Here you can find the daily Elo distrubution in the ranked modes of both DE and Voobly.</p>
        <a href="{% url 'leaderboards:index' %}" class="btn-get-started animate__animated animate__fadeInUp">Go to leaderboards</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Sources</h2>
        <p class="animate__animated animate__fadeInUp">All the data is collected thorugh the wonderful APIs of <b>AoE2.net</b>. Have a look at their website:</p>
        <a href="https://www.aoe2.net" class="btn-get-started animate__animated animate__fadeInUp">Go there!</a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section><!-- End Hero -->
<!-- <div class="container-fluid" style="margin-top: 25px">
  <div class="row">
    <div class="col-md-8">
      <div>
        <p>Welcome to Age of Empires 2: Data Edition!</p>

        This is a small project to collect resources from the Age of Empires 2 community!

        The site contains:
        <ul>
          <li><a href="{% url 'leaderboards:index' %}">Elo distribution</a> of all the leaderboards from both DE and HD (the latter is yet to implement)</li>
          <li>Other stuff yet to implement</li>
        </ul>
      </div>
    </div>
 -->
  </div>

</div>
{% endblock %}
